<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Success</title>
    <link rel="stylesheet" href="Display/end.css">
</head>
<body>
    <%- include('../partials/nav')%>
    <main>
        <section class="thank-you">
            <h2>Your Booking is Confirmed</h2>
            <p>We appreciate your reservation. A confirmation email has been sent to you.</p>
            <p>If you have any questions, feel free to <a href="/contact">contact us</a>.</p>
            <a href="/" class="btn">Return to Home</a>
        </section>
    </main>
</body>
<%- include('../partials/footer')%>
</html>