<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Reviews</title>
    <link rel="stylesheet" href="Display/reviews.css">
</head>

<body>
    <%- include('../partials/nav')%>
        
    <main>
        
    <div class="review-container">
        <div class="review-card">
            <h3>Harry Potter</h3>
            <p>"Amazing experience! The hotel was clean and the service was excellent."</p>
        </div>
        <div class="review-card">
            <h3>Ron Weasly</h3>
            <p>"Had a wonderful stay. The staff was very friendly and the food was great!"</p>
        </div>
        <div class="review-card">
            <h3>Hermoine Granger</h3>
            <p>"Perfect location and comfortable rooms. Highly recommended!"</p>
        </div>
        <div class="review-card">
            <h3>Lord Voldemort</h3>
            <p>"Exceptional service and a cozy atmosphere. I felt right at home during my stay!"</p>
        </div>

        <div class="review-card">
            <h3>Draco Malfoy</h3>
            <p>"The stunning views from my room is awesome"</p>
        </div>
    </div>
</main>
</body>
<%- include('../partials/footer')%>
</html>