<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="Display/contact.css">
</head>
<body>
    <%- include('../partials/nav')%>
    <main>
        <section>
            <fieldset>
                <legend>Get in Touch with Us!</legend>
        <div class="container">
            <i id="icon" class="fa-solid fa-envelope"></i>
            <label id="namel" for="email">book@luxcystay.com</label><br><hr>

            <i id="icon1" class="fa-brands fa-whatsapp"></i>
            <label id="name2" for="icon1">+91 9845142545</label><br><hr>

            <i id="icon3" class="fa-brands fa-instagram"></i>
            <label id="name3" for="icon3">@luxcustay</label><br>

            <a class="btn" href="/">Go To Home</a>
        </div>
    </fieldset>
    </section>
    </main>
</body>
<%- include('../partials/footer')%>
</html>