body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.65;
}

header {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: white;
    padding: 3px;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar {
    display: flex;
    justify-content: center;
    list-style: none;
    background: #333;
    padding: 10px 0;
    margin: 0;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #ff7e5f;
}

.hero {
    background: url('/images/pexels-pixabay-258154.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero-content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.cta-button {
    background: #ff7e5f;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.cta-button:hover {
    background: #feb47b;
}

section {
    padding: 40px 20px;
    text-align: center;
}

.room-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.room {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
footer p{
    font-size: 1.5rem;
}